# core
.DS_Store
node_modules
.env
.env*.local

# other
run
workspaces

# other
past.*
private.*
cache
flox/run
flox/lib
flox/log
# TODO: maybe no ignore this? how useful is it?
flox/env/manifest.lock
